/*  Bismillah */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: sans-serif;
}

.container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.hoverMe {
  width: max-content;
  /* font-size: 72px; */
  position: relative;
  cursor: pointer;
  margin: 100px auto;
}

.hoverMe::after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 2px;
  width: 100%;
  left: 0;
  background-color: aqua;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  transform: scalex(0);
}

.hoverMe:hover:after {
  transform: scalex(1.2);
}

/* ---------- */

.hoverMee {
  width: max-content;
  /* font-size: 72px; */
  position: relative;
  cursor: pointer;
  /* margin: 100px auto; */
}

.hoverMee::after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 2px;
  width: 90%;
  left: 0;
  background-color: aqua;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  transform: scalex(0);
}

.hoverMee:hover:after {
  transform: scalex(1.2);
}